<mat-toolbar color="primary" class="navbar">
  <div>
    <a class="navbar-brand" href="https://nicholbe23.github.io/me target=" _blank>
      <img class="logo"
           src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Pictograms-nps-misc-wood_gathering-2.svg"/></a>
        Ben Nicholson
  </div>
  <div>
    <span class="span-right">Home</span>
    <span class="span-right">About</span>
    <span class="span-right">Links</span>
  </div>
</mat-toolbar>

<div>
  <button mat-raised-button color="primary">Test</button>
</div>
